<% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
          <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class='row'>
  <div class='col-xs-12'>  

    <%= form_for(@student, :html => {class: "form-group", role: "form"}) do |form| %>
      

      <div class="form-group" >
        <%= form.label :name%>
        <%= form.text_field :name, class: "form-control",autofocus: true%>
      </div> 

      <div class="form-group">
        <%= form.label :sport%>
        <%= form.text_field :sport, class: "form-control",autofocus: true %>
      </div> 

      <div class="form-group">
        <%= form.label "Year"%>
        <%= form.select :year, current_user.school.years.all.pluck(:number)  %>
      </div> 
      
      <div class="form-group" >
        <%=form.label "School Year (1-4):" %>
        <%= form.number_field :school_year, max: 4, min: 1,placeholder:"School Year Status"  %>
      </div>

      <div class="form-group" >
       <%= form.label "GPA: " %>
       <%= form.number_field :gpa,step: 0.01, placeholder: 2.0 %>
      </div>

      <div class="form-group" >
        <%= form.label "Attendance:" %>
        <%= form.number_field :attendance, step: 1, min:0,max:365 ,placeholder: 0 %>
      </div>

      <div class="checkbox">
        <label>
          <%= form.check_box(:doctor_note)%> Doctor's Note
        </label>
        <label>
          <%= form.check_box(:physical) %> Physical:
        </label>
        <label>
          <%= form.check_box(:concussion) %>Concussion:
        </label>
        <label>
          <%= form.check_box(:cardiac) %> Cardiac:
        </label>
        <label>
          <%= form.check_box(:c_o_ethics) %> Code of Ethics:
        </label>
      </div>

      </br>

      <div class="form-group">
        <%= form.label "Upload Form" %>
        <%= form.file_field :form %>
        <p class="help-block">Upload any neccesary forms.</p>
      </div> 

      <div >
        <%= form.submit  "Create Student",class: 'subbtn' %>
      </div>

    <% end %>

  </div>
</div> 
