<p id="notice"><%= notice %></p>

<h1>Students</h1>
  <h3>
    <%= link_to "New Year", increase_years_path(@year_number) %>
  </h3>
<br>
<h3>
  School Years:
  </h3> 
<ul>
 <% current_user.school.years.sort_by(&:number).each do | year | %>
 <li>
    <%= link_to year.number, year %> 
    <%= year.school.name %>
  </li>
  <% end %>

</ul>


<br>

<%= link_to 'New Student', new_student_path %>
