<p id="notice"><%= notice %></p>

<h2 align= "center"> Student Profile</h2>

<div class="well col-xs-8 col-xs-offset-2"  >
	<h2 class="center"><strong> <%= @student.name %></strong></h2>
		GPA: <b><%= @student.gpa %></b>
		<br>
		Sport: <b><%= @student.sport %></b>
		<br>
		Attendance: <%= @student.attendance %>
		<br>
		Need's Doctor Note: <%=check_box("student", "doctor_note", {}, "yes", "no") %>
		<br>
		Cardiac: <%=check_box("student", "cardiac", {}, "yes", "no") %>
		<br>
		Concussion: <%=check_box("student", "concussion", {}, "yes", "no") %>
		<br>
		Physical: <%=check_box("student", "physical", {}, "yes", "no") %>
		<br>

		<% if @student.form.attached? %>
		<%= link_to("Physical Form", url_for(@student.form)) %>
		<% else %>
		  No physical form needed.
		<% end %>

		<br>
		Code Of Ethics: <%=check_box("student", "c_o_ethics", {}, "yes", "no") %>

		<br><br>
		<div class= "article-actions center">
			<%= link_to "Edit", edit_student_path(@student), class: "subbtn" %> 
			
			<%= link_to "Back", students_path, class: "subbtn" %>

			<%= link_to 'Destroy', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' },class: "subbtn" %>
		</div>

</div>
	

