<% if  @user != nil && logged_in? %>
 

  You are loggin in as <%= @user.school_name %>


  <%= link_to("Check students", students_path) %>


<% else %>

	<div class= "center jumbotron">
		<h1>Sports Check</h1>

		<h3>
			Please Log In
		</h3> 
		<%= form_for(User.new) do |form| %>
			<div>
				<%= form.label :school_name %>
				<%= form.text_field :school_name, id: :user_school_name  %>
			</div>

			<div>
				<%= form.label :password %>
				<%= form.text_field :password, id: :user_password  %>
			</div>

			</br>

			<div>
				<%= form.submit "Sign In | Sign up" , class: 'btn' %>
			</div>

		<% end %>
	</div>
<% end %>