<p id="notice"><%= notice %></p>
<h2 align= "center">
    <strong> Current Students</strong>
  </h2> 
<div class="well col-xs-12 col-xs-offset-5 center custom-select" style="width:200px;" >
  
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
      <span class="caret"></span></button>
      <ul class="dropdown-menu">


        <% [1].each do |grade| %>
          
          <li>
            <%= link_to "Freshman" , years_show_path(id: @year,grade: grade) %>
          </li> 
        <% end %>
        <% [2].each do |grade| %>
          
          <li>
            <%= link_to "Sophmore", years_show_path(id: @year,grade: grade) %>
          </li> 
        <% end %>
        <% [3].each do |grade| %>
          
          <li>
            <%= link_to "Junior", years_show_path(id: @year,grade: grade) %>
          </li> 
        <% end %>
        <% [4].each do |grade| %>
          
          <li>
            <%= link_to "Senior", years_show_path(id: @year,grade: grade) %>
          </li> 
          <li>
            <%= link_to "All students", years_show_path(id: @year) %>
          </li> 
        <% end %>

      </ul>



  </br></br>
    
  <table class="center">
    <thead>
      <tr>
        <th colspan="6"></th>
      </tr>
    </thead>
    <tbody >
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.sport %></td>
<!--      <td><%= student.school_year %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<div class= "article-actions center">

  <%= link_to 'New Student', new_student_path, class: "subbtn" %>
  <%= link_to "New Year", increase_years_url(@year_number), class: "subbtn" %>
</div>
